.collection-item {
  position: relative;
  padding: 10px;
}

.collection-item-inner {
  position: relative;
  padding: 20px;
  border-radius: 8px;
  background-color: white;
  border: 1px solid silver;
  border-top: 3px solid #0a99e0;
}

.collection-item-inner ul {
  list-style: initial;
  padding-left: 30px;
  font-size: 0.9em;
}

.collection-item-inner ol {
  padding-left: 30px;
  font-size: 0.9em;
}

.collection-item-inner h2,
.collection-item-inner h3 {
  font-size: 1em;
}

.collection-item-inner p {
  font-size: 0.9em;
}

.item-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  /* align-items: center; */
}

.item-header h1 {
  margin: 0;
  padding: 0;
  font-size: 1.1em;
  width: calc(100% - 120px);
}

.detail-button button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  margin: 0;
  padding: 0 0 0 5px;
  text-align: left;
  color: #0a99e0;
  font-weight: bold;
  font-size: 0.7em;
}

.detail-button-container {
  padding: 0 10px;
  width: 120px;
}
