.collection-item {
  position: relative;
  padding: 10px;
}

.collection-item-inner {
  padding: 20px;
  border-radius: 8px;
  background-color: white;
  border: 1px solid silver;
  border-top: 6px solid #0a99e0;
}

.collection-item-inner ul {
  list-style: initial;
  padding-left: 30px;
  font-size: 0.9em;
}

.collection-item-inner ol {
  padding-left: 30px;
  font-size: 0.9em;
}

.collection-item-inner h1 {
  display: inline-block;
  width: 90%;
  margin: 0;
  padding: 0;
  font-size: 1.2em;
}

.collection-item-inner h2,
.collection-item-inner h3 {
  font-size: 1em;
}

.collection-item-inner p {
  font-size: 0.9em;
}

.detail-button {
  display: inline-block;
  width: 10%;
}

button {
  width: 100%;
  margin: 0;
  padding: 0;
}
