main {
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

.menu {
  width: 100%;
  padding: 20px;
}

.menu-select {
  position: relative;
  width: 200px;
}

.collection-list {
  width: 100%;
  padding: 10px;
}
